{% load static %}
<footer id="footer" class="bg-quaternary border-width-4 custom-border-color-grey py-5 mt-0">
    <div class="container container-xl-custom">
        <div class="row justify-content-between">
            <div class="col-auto">
                <ul class="social-icons social-icons-clean social-icons-icon-light">
                    <li class="social-icons-facebook">
                        <a href="http://www.facebook.com/carptech" target="_blank" title="Facebook"><i
                                class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="social-icons-twitter">
                        <a href="http://www.twitter.com/" target="_blank" title="Twitter"><i
                                class="fab fa-twitter"></i></a>
                    </li>
                    <li class="social-icons-linkedin">
                        <a href="http://www.linkedin.com/company/carp-tech-corporation" target="_blank" title="Linkedin"><i
                                class="fab fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-auto text-end">
                <p class="text-color-light font-weight-light opacity-8 mb-0">
                    Copyrights © 2022 All Rights Reserved by CARPTECH
                </p>
            </div>
        </div>
    </div>
</footer>